/* 
#a4c2d1; egg blue 
#dbdcde; light grey
#1f7798; mid-blue
#184f63; dark-blue
*/

/* Global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');
body{
    font-family: "Poppins", sans-serif;
    background-color: #a4c2d1;
}

h1, h2{
    font-family: "Dm Serif Display", serif ;
    color: #184f63;
} 
/* About section */
#about{
    background-color: white;
}


/* PORTFOLIO */
#portfolio{
    background-color: #dbdcde;
}

     /* onlt targets .card-title within the #portfolio section */
#portfolio .card-title{
    color: #1f7798; 
    font-size: 1.2rem;
}

#portfolio .btn-outline-secondary:hover{
    color: #1f7798;
}
  /* ensures every card has the same min height */
#portfolio .card-text{
    min-height: 120px;
}
/* Contact Section */
#contact{
    background-color: white;
}

/* Header Section */
/* hero image */
#hero{
    background-color: #dbdcde;
    background-image: url("../images/background.webp") ;
    background-size: cover;
    background-position: 50% 70%;
    padding: 5% 7%;
    min-height: 500px;
}

/* MEDIA QUERIES */

/* use bootstrap breakpoints for XL screens  */
@media screen and (min-width:1200px){

    /* fixes all portfolio cards being too tall on xl screens  */
    #portfolio .card-text{
        min-height: auto;
    }
    
}